<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head')  %> 

<body>

<%- include('./partials/header')  %> 
    <section class = "contenedor">
        <section class = 'bienvenidos'>
            <a href="/movies"><h1>Bienvenidos a Digital Movies</h1></a>
        </section>
    </section>
    <%- include('./partials/footer')  %> 
  </body>
</html>
