<div class="contenedor">
    <header class="header-principal">
        <div class="logo">
            <p><a href="/"><img src="/images/logo-dh-blanco.png" alt="logotipo"></a></p>               
            <a href="#" class="toggle-nav">
                <!-- <span class="fa fa-bars"></span> -->
            </a>
        </div>
        <nav class="menu_de_navegacion">
            <ul class="nav-list-items">
                <li><a href="/movies/">Peliculas</a></li>
                <li><a href="/movies/recommended">Recomendadas</a></li>
            </ul>
            <div class="formulario-busqueda">
                <form class="nav-search" action="/movies/search" method="post">
                    <input type="text" class="nav-search-input" name="busqueda" placeholder="Busca tu pelicula" maxlength= "120">
                </form>
            </div>
            <ul class="nav-list-items">
                <li><a href="/movies/create">Crear</a></li>
                <li><a href="/movies/new">Estrenos</a></li>     
            </ul>
        </nav>
    </header>  